/* 轻提示 */
.ui_toast{position: fixed; z-index: 9999; opacity: 0; text-align: center; max-width: 300px; top: 0; left: 0; right: 0; margin: auto; line-height: 40px; transition: All 0.4s ease-in-out;}
.ui_toast span{display: inline-block; padding: 0 16px; font-size: 14px; color: #FFF; border-radius: 5px; background-color: rgba(0,0,0,.9);}
/* 弹出层 */
.popup_bg,.popup_body{position: fixed; z-index: 1000; transition: all .3s ease;}
.popup_bg{width: 100%; height: 100%; top: 0; left: 0; opacity: 0;}
/* 图片预览 */
.imgview_bg{position: fixed; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; transition: all .3s ease;}
.imgview_bg i{font-size: 24px;}
.imgview_load,.imgview_close,.imgview_full,.imgview_info,.imgview_left,.imgview_right{position: absolute; z-index: 100;}
.imgview_load,.imgview_close,.imgview_full{cursor: pointer; border-radius: 50%; color: #FFF; text-align: center; width: 40px; height: 40px; line-height: 40px;}
.imgview_img img{left: 50%; top: 50%; transform: translate(-50%,-50%);}
.imgview_img{width: 100%; height: 100%;}
.imgview_img img{transition: all .3s ease; position: absolute;}
.imgview_load{animation: loading 2s linear 0s infinite; left: 50%; top: 50%; margin: -20px 0 0 -20px;}
.imgview_load i{font-size: 32px; color: #6FB737;}
@keyframes loading { 0% {transform: rotate(0deg);} 50% {transform: rotate(180deg);} 100% {transform: rotate(360deg);} }
.imgview_close{top: 10px; right: 10px;}
.imgview_close:hover{color: #FF6600;}
.imgview_full{bottom: 10px; right: 10px;}
.imgview_info{height: 40px; line-height: 40px; left: 0; right: 0; bottom: 20px; text-align: center;}
.imgview_info .nowrap{border-radius: 20px; padding: 8px 16px; color: #EEE; background-color: rgba(0,0,0,0.3);}
.imgview_info .nowrap span{padding: 0 5px;}
.imgview_left,.imgview_right{top: 0; width: 50%; height: 100%;}
.imgview_left i,.imgview_right i{position: absolute; color: #FFF; top: 50%; transform: translate3d(0,-50%,0);}
.imgview_left{left: 0;}
.imgview_left i{left: 10px;}
.imgview_right{right: 0;}
.imgview_right i{right: 10px;}