.wm-scroll_html{position: relative; overflow: hidden;}
/* 内容 */
.wm-scroll_view{position: absolute; overflow: hidden; width: 100%; height: 100%; transform: translate(0,0);}
.wm-scroll_view_x::-webkit-scrollbar{display:none}
.wm-scroll_view_y::-webkit-scrollbar{width: 4px;}
.wm-scroll_view_y::-webkit-scrollbar-thumb{border-radius: 4px; background: transparent;}
.wm-scroll_view_y:hover::-webkit-scrollbar-thumb{background: rgba(136,136,136,0.4);}
.wm-scroll_view_y:hover::-webkit-scrollbar-track{background: rgba(136,136,136,0.1);}
/* Loading */
.wm-scroll_load_body{position: absolute; overflow: hidden; z-index: 1; opacity: 0;}
@keyframes loading { 0% {transform: rotate(0deg);} 50% {transform: rotate(180deg);} 100% {transform: rotate(360deg);} }
.wm-scroll_load{position: absolute; width: 30px; height: 30px; line-height: 30px; margin: -15px 0 0 -15px; text-align: center; left: 50%; top: 50%; transform: translate(-50%,-50%); animation: loading 2s linear 0s infinite;}
.wm-scroll_load i{font-size: 22px; color: #6FB737;}