/* 更新 */
.update_body{position: absolute; z-index: 999; width: 100%; height: 100%}
.update_logo{position: fixed; width: 100%; left: 0; bottom: 15px; line-height: 20px; text-align: center; padding: 10px 0;}
.update_logo h1{font-size: 16px;}
.update_logo h2{font-size: 10px; font-weight: normal;}
.update_ct{width: 220px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.update_ct .logo{width: 96px; height: 96px; margin: 0px auto 20px; border-radius: 50%;}
.update_ct .logo div{height: 100%; background: url('../logo.svg') no-repeat center; background-size: 65%;}
.update_ct .loading{height: 5px; border-radius: 5px;}
.update_ct .load_msg{color: #FFF; text-align: center; padding: 8px 0; font-size: 14px;}
.update_ct .load_button{text-align: center; padding-top: 16px;}

/* 登录 */
.login_bg{position: fixed; z-index: 99; left: 0; top: 0; width: 100%; height: 100%; background-color: #E2E4E8;}
.login_body{position: absolute; width: 100%; max-width: 360px; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.login_logo{height: 32px; line-height: 32px; padding: 16px 0;}
.login_logo div{width: 32px; height: 32px; border-radius: 50%; background-size: 70%; background-color: #F2F4F6;}
.login_logo h2{padding: 4px 8px; text-shadow: 0 0 16px #FFF; color: #000;}
.login_ct{position: relative; padding: 16px 32px; border-radius: 8px; background-color: rgba(255,255,255,.8);}
.login_ct h3{padding: 16px 0 8px; text-align: center;}
.login_input{padding: 8px 0;}
.login_input input{background-color: #FFF;}
.login_input button{width: 100%;}
.login_copy{line-height: 40px; text-align: center; font-size: 12px; color: #000; text-shadow: 0 0 8px #FFF;}

.login_type{cursor: pointer; position: absolute; width: 200px; top: 0; left: 50%; transform: translate(-50%,0); font-size: 12px; text-align: center;}
.login_type_title{padding: 0 16px; line-height: 24px; background-color: rgba(0,0,0,.7); color: #6FB737; border-radius: 0 0 24px 24px;}
.login_type_list{overflow: hidden; border-radius: 4px;}
.login_type_list li{line-height: 40px; color: #FFF;}
.login_type_list li:hover{color: #6FB737;}

/* 主要框架 */
.app_body{position: relative; overflow: hidden; height: 100%; min-width: 640px;}
.app_left{position: absolute; left: 0; width: 200px; height: 100%; background-color: #24292E;}
.app_right{position: absolute; right: 0; width: calc(100% - 200px); height: 100%;}
.app_top{position: relative; height: 42px; padding: 10px 16px; box-shadow: 0 1px 0 #F2F4F6;}
.app_main{position: absolute; z-index: 9999; width: 100%; height: calc(100% - 100px);}
.app_copy{position: fixed; width: calc(100% - 200px); height: 40px; line-height: 40px; bottom: 0; text-align: center; color: #999; font-size: 12px; background-color: rgba(0,0,0,.02);}

/* 菜单 */
.app_menus{color: #F2F4F8;}
.app_user{position: relative; padding: 16px 16px 8px; text-align: center; color: #999; border-bottom: rgba(0,0,0,0.3) 1px solid;}
.app_user .img{overflow: hidden; width: 64px; height: 64px; border: #595 1px solid; background-color: #F2F2F2; border-radius: 50%; margin: 0 auto;}
.app_user .img div{width: 100%; height: 100%;}
.app_user .tu{background-image: url(../logo.svg); background-size: 60%;}
.app_user .info{line-height: 40px; font-size: 12px;}

.app_login{padding: 16px 5px; font-size: 12px; text-align: center; color: #999; border-top: rgba(0,0,0,0.3) 1px solid;}
.app_login span{cursor: pointer; padding: 0 5px;}
.app_login .config:hover{color: #6FB737;}
.app_login .logout{color: #6FB737;}
.app_login .logout:hover{color: #FF6600;}