/* 主题颜色 */
@Primary: #595;         //主色
@Minor: #F0F9EB;        //辅色
@Success: #67C23A;      //成功
@Warning: #E6A23C;      //警告
@Danger: #F56C6C;       //危险
@Info: #909399;         //信息
@BorderColor: #DCDFE6;  //边框
@BorderHover: #A2B4C8;  //悬停
@IconColor: #8294A8;    //图标
@Disabled: #A8ABB2;     //禁用
/* 动画 */
@Transition: All 0.2s ease-in-out;