/* 字体图标 */
.ui_scan{font-size: 24px;}

/* 首页 */
.in_html .in_body{height: 100%; background-image: linear-gradient( #FFF 70%, #F2F4F6 100%);}
.in_html .in_ct{width: 320px;}
.in_html .logo{width: 100px; margin: 0 auto;}
.in_html .logo img{width: 100%; height: 62px;}
.in_html .logo_text{line-height: 24px; font-size: 18px; text-align: center;}
.in_html .logo_bg{padding: 20px 0;}
.in_html .logo_bg img{width: 100%; height: 86px;}
.in_html .demo{text-align: center;}
.in_html .demo span{padding: 5px 10px;}
/* 首页-深色 */
.in_html_dark .icon_scan{color: #FFF;}
.in_html_dark .logo_text{color: #999;}
.in_html_dark .in_body{background-image: linear-gradient( #323436 70%, #242628 100%);}
.in_html_dark .demo{color: #FFF;}

/* 文档 */
.in_doc_class{height: 48px; background-color: #F2F4F6;}
.in_doc_tool{position: absolute; z-index: 999; right: 8px; top: 50px;}
.in_doc_tool li{list-style: none; margin: 16px 0; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; text-align: center; background-color: #F2F4F6; box-sizing: 0 0 6px #999;}
.in_doc_tool .ui{font-size: 20px;}

.in_doc_menus{width: 240px; height: 100%; background-color: #F2F4F6;}
.in_doc_menus .title{height: 60px; line-height: 60px; text-align: center; font-size: 18px; border-bottom: #6FB737 1px solid; background-color: #FFF;}
.in_doc_menus .body{overflow: hidden; height: calc(100% - 61px);}
.in_doc_menus .wm-scroll_html{background-color: #FFF;}
.in_doc_menus .ct{padding: 4px 16px; margin: 8px 0;}
.in_doc_menus h2{line-height: 24px; font-size: 16px; font-weight: bold;}
.in_doc_menus ul{display: block; font-size: 14px;}
.in_doc_menus ul li{line-height: 24px; margin: 4px 0; list-style: none; color: #666;}
.in_doc_menus .an{color: #6FB737;}

.in_doc_body{overflow: hidden; height: calc(100% - 48px); background-color: #FFF;}
.in_doc_html{overflow: hidden; padding: 16px;}
.doc_html{overflow: hidden; line-height: 24px; font-size: 14px;}
.doc_html h1,.doc_html h3,.doc_html p{padding: 8px 0;}
.doc_html h1{font-size: 20px; text-align: center;}
.doc_html h2{padding: 16px 0 8px; font-size: 18px;}
.doc_html h3{padding: 16px 0 8px; font-size: 16px;}
.doc_html ul{list-style: initial; list-style-position: inside;}
.doc_html ul li{padding-left: -16px;}
.doc_html pre{overflow: hidden; height: auto;}

/* 消息 */
.in_msg_body .wm-scroll_html{background-color: #F2F4F6;}
.in_msg_ct{margin: 1px 0;}
.in_msg{padding: 16px 16px; background-color: #FFF;}
.in_msg_tu{width: 48px; height: 48px; background-color: #F2F4F6;}
.in_msg_info{width: calc(100% - 64px);}
.in_msg_title{line-height: 26px;}
.in_msg_title h2{width: calc(100% - 100px); font-size: 18px; font-weight: normal;}
.in_msg_title span{font-size: 12px; color: #999;}
.in_msg_text{font-size: 14px; color: #999;}
.in_msg_an{height: 100%;}
.in_msg_an button{float: left; line-height: 80px; border-radius: 0;}