/* 字体图标 */
@import url('style/icon.css');
/* UI */
@import url('style/ui.css');
/* APP */
@import url('style/app.css');

/* 头部 */
.top_body{position: fixed; z-index: 99; width: 100%; padding: 8px 0; background-color: #24292E;}
.top{position: relative; padding: 0 16px;  height: 40px; line-height: 40px;}

.top_logo{float: left; width: 40px; height: 100%; background-color: #FFF; border-radius: 50%; background-image: url('img/logo.svg'); background-size: 75%; transition: All 0.4s ease-in-out;}
.top_logo:hover{transform: rotate(360deg);}

.top_nav_body{float: left; width: calc(100% - 160px); height: 100%; margin-left: 8px; overflow-x: auto;}
.top_nav_body::-webkit-scrollbar{display:none}
.top_nav{display: flex; height: 100%;}
.top_nav li{width: 80px; display: flex; align-items: center; box-sizing: border-box; flex: 1;}
.top_nav a{flex: 1; text-align: center; color: #999; font-size: 16px;}
.top_nav .an{color: #6FB737;}

.top_right{position: absolute; right: 16px; top: 0; height: 40px; color: #999;}
.top_right a{display: inline-block; padding: 0 8px; font-size: 14px;}
.top_right .login{color: #999;}
.top_right .register{color: #FF6600;}

/* 内容 */
.body{max-width: 1200px; min-width: 320px; margin: 0 auto;}
.html_body{padding-top: 56px;}
.copy{position: absolute; width: 100%; line-height: 40px; bottom: 0; text-align: center; color: #666; font-size: 12px;}

/* 响应式布局 */
@media screen and ( max-width: 1024px ){
}
@media screen and ( max-width: 768px ){
}
@media screen and ( max-width: 640px ){
  .top_nav_body{width: calc(100% - 50px);}
  .top_right{display: none;}
}
@media screen and ( max-width: 375px ){
}
@media screen and ( max-width: 320px ) {
}