/* 字体图标 */
@import url('icon.css');
/* UI */
@import url('ui.css');

/* 初始化 */
*{margin: 0; padding: 0;}
html,body,#app{height: 100%; color: #364149; font-size: 14px;}
body{overflow: hidden;}
a{cursor: pointer; color: #6FB737; text-decoration: none;}
a:hover{color: #FF6600;}
ul{list-style: none;}
img{vertical-align: top;}
i{font-style: normal;}

/* 公共 */
.bgImg{background-size: cover; background-position: center; background-repeat: no-repeat;}
.bgTu{width: 100%; height: 100%; border-radius: 50%;}
.divCenter{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.ctCenter{position: absolute; margin: 0 auto; left: 0; right: 0;}
.verticalCenter{position: absolute; z-index: 10; top: 50%; transform: translate3d(0,-50%,0);}
.null{text-align: center; color: #999; line-height: 100px;}
.null::before{content: '暂无数据！';}
.bLine{text-align: center; color: #999; line-height: 50px;}
.bLine::before{content: '我是有底线的';}
.hide{display: none;}
.mTop1{margin-top: 1px;}
.mTop10{margin-top: 10px;}
.split{padding: 0 10px; color: #DADCDF;}
.mask{
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #666;
}

.body{max-width: 1200px; min-width: 320px; margin: 0 auto;}

/* 布局 */
.flex{display: flex; justify-content: space-between; flex-wrap: wrap;}
.flex.center{align-items: center;}
.flex_left{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.flex_right{display: flex; justify-content: flex-end; flex-wrap: wrap;}
.flex_center{display: flex; align-items: center; justify-content: center; height: 100%;}
.flex_nowrap{display: flex; justify-content: space-around; flex-direction: row; white-space:nowrap;}
.flex_in{display: flex; justify-content: center; align-items:center;}
.nowrap{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.nowrap_text{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.nowrap_three{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

/* 滚动条 */
.sidebar::-webkit-scrollbar{width: 4px;}
.sidebar::-webkit-scrollbar-thumb{border-radius: 4px; background: transparent;}
.sidebar:hover::-webkit-scrollbar-thumb{background: rgba(136,136,136,0.4);}
.sidebar:hover::-webkit-scrollbar-track{background: rgba(136,136,136,0.1);}

/* 头部 */
.top_body{position: fixed; z-index: 99; width: 100%; padding: 8px 0; background-color: #24292E;}
.top{position: relative; padding: 0 16px;  height: 40px; line-height: 40px;}

.top_logo{float: left; width: 40px; height: 100%; background-color: #FFF; border-radius: 50%; background-image: url('img/logo.svg'); background-size: 75%; transition: All 0.4s ease-in-out;}
.top_logo:hover{transform: rotate(360deg);}

.top_nav_body{float: left; width: calc(100% - 180px); margin-left: 8px; overflow-x: auto;}
.top_nav_body::-webkit-scrollbar{display:none}
.top_nav{display: flex; width: 480px; height: 100%;}
.top_nav li{width: 80px; display: flex; align-items: center; box-sizing: border-box; flex: 1;}
.top_nav a{flex: 1; text-align: center; color: #999; font-size: 16px;}
.top_nav .an{color: #6FB737;}

.top_right{position: absolute; right: 16px; top: 0; height: 40px; color: #999;}
.top_right a{display: inline-block; padding: 0 8px; font-size: 14px;}
.top_right .login{color: #999;}
.top_right .register{color: #FF6600;}

/* 内容 */
.html_body{padding-top: 56px;}

/* 响应式布局 */
@media screen and ( max-width: 1024px ) {
}
@media screen and ( max-width: 768px ) {
}
@media screen and ( max-width: 640px ) {
.top_nav_body{width: calc(100% - 48px);}
.top_right{display: none;}
}
@media screen and ( max-width: 375px ) {
}
@media screen and ( max-width: 320px ) {
}