/* 首页 */
.index_body{height: 100%; background-color: #24292E;}
.index_bg{height: 100%; mask-image: url(../img/bg.svg); -webkit-mask-image: url(../img/bg.svg); background-color: #000;}
.index_ct{color: #FFF; text-align: center; padding: 16px;}
.index_ct h1{font-size: 32px; line-height: 60px; font-weight: normal;}
.index_key{line-height: 30px; font-size: 16px; color: #999;}
.index_key span{padding: 0 8px;}
.index_an{padding: 24px 0;}
.index_an a{display: inline-block; margin: 8px; width: 160px; line-height: 48px; color: #FFF; font-size: 16px; border-radius: 3px;}
.index_an .an1{background-color: #379;}
.index_an .an2{background-color: #595;}
.index_qr{overflow: hidden; padding: 8px 0;}
.index_qr li{margin: 0 24px;}
.index_qr div{width: 64px; height: 64px; padding: 4px; background-color: #F2F4F6; border-radius: 3px;}
.index_qr div img{width: 100%;}
.index_qr p{line-height: 30px; font-size: 12px; color: #999;}

.index_qr_show{width: 200px; padding: 16px; background-color: #FFF; border-radius: 5px;}
.index_qr_show img{width: 100%;}
.index_qr_show p{line-height: 32px; margin-top: 8px; text-align: center; background-color: #595; color: #FFF; border-radius: 3px;}

/* 响应式布局 */
@media screen and ( max-width: 1024px ) {
}
@media screen and ( max-width: 768px ) {
.index_bg{mask-size: auto 90%; -webkit-mask-size: auto 90%;}
}
@media screen and ( max-width: 640px ) {
.index_qr li{margin: 0 16px;}
}
@media screen and ( max-width: 375px ) {
.index_qr li{margin: 0 8px;}
}
@media screen and ( max-width: 320px ) {
}